---
## Entire purpose of this file is to remove ~ from ~/.acme.sh/ and replace with real home path for become_user

- name: "Get remote home directory for the {{ acme_sh_become_user }}"
  ansible.builtin.getent:
    database: passwd
    key: "{{ acme_sh_become_user }}"
  changed_when: false
  register: _pw
  become: true
  become_user: "{{ acme_sh_become_user }}"

- name: "Set remote home fact for the {{ acme_sh_become_user }}"
  ansible.builtin.set_fact:
    acme_sh_become_home: "{{ _pw.ansible_facts.getent_passwd[acme_sh_become_user][4] }}"
  changed_when: false

- name: Resolve acme.sh base directory (remote)
  ansible.builtin.set_fact:
    acme_sh_directory_resolved: >-
      {{
        (acme_sh_directory | default(acme_sh_default_directory, true))
        | regex_replace('^~', acme_sh_become_home)
      }}
  changed_when: false
  become: true
  become_user: "{{ acme_sh_become_user }}"

- name: Resolve acme.sh binary path (remote)
  ansible.builtin.set_fact:
    acme_sh_bin_resolved: >-
      {{
        (acme_sh_bin | default(acme_sh_default_bin, true))
        | regex_replace('^~', acme_sh_become_home)
      }}
  changed_when: false
  become: true
  become_user: "{{ acme_sh_become_user }}"

