---
# Remove non-ECC certs
- name: Check for acme.sh domain directory
  ansible.builtin.stat:
    path: "{{ acme_sh_directory_resolved }}/{{ item.domains | first }}"
  register: directory_result
  failed_when: false
  become: true
  become_user: "{{ acme_sh_become_user | default(omit) }}"

- name: Remove acme.sh domain directory (non-ECC)
  ansible.builtin.file:
    path: "{{ acme_sh_directory_resolved }}/{{ item.domains | first }}"
    state: absent
  when: directory_result.stat.exists | default(false)
  become: true
  become_user: "{{ acme_sh_become_user | default(omit) }}"
  changed_when: directory_result.stat.exists | default(false)

# Remove ECC certs
- name: Check for acme.sh domain ECC directory
  ansible.builtin.stat:
    path: "{{ acme_sh_directory_resolved }}/{{ item.domains | first }}_ecc"
  register: directory_ecc_result
  failed_when: false
  become: true
  become_user: "{{ acme_sh_become_user | default(omit) }}"

- name: Remove acme.sh domain ECC directory
  ansible.builtin.file:
    path: "{{ acme_sh_directory_resolved }}/{{ item.domains | first }}_ecc"
    state: absent
  when: directory_ecc_result.stat.exists | default(false)
  become: true
  become_user: "{{ acme_sh_become_user | default(omit) }}"
  changed_when: directory_ecc_result.stat.exists | default(false)

