---
#- name: Determime if acme_letsencrypt.timer file exists
#  ansible.builtin.stat:
#    path: "{{ systemd_files_location}}/acme_letsencrypt.timer"
#  register: is_acme_letsencrypt_timer_installed
#  become_user: "{{ acme_sh_become_user }}"

#- name: Determine if acme_letsencrypt.service file exists
#  ansible.builtin.stat:
#    path: "{{ systemd_files_location}}/acme_letsencrypt.service"
#  register: is_acme_letsencrypt_service_installed
#  become_user: "{{ acme_sh_become_user }}"

- name: Install {{ systemd_service_name }}.service
  ansible.builtin.template:
    src: acme_letsencrypt.service.j2
    dest: >-
      {{
        acme_sh_systemd_service_location
         | default(acme_sh_default_systemd_service_location, true)
         | default('/etc/systemd/system')
      }}/
      {{
        acme_sh_systemd_service_name
        | default(acme_sh_default_systemd_service_name, true)
        | default('acme_letsencrypt.service')
      }}
    force: true
    owner: root
    group: root
    mode: '0644'
  become: true
  become_user: "{{ acme_sh_become_user }}"

- name: Install {{ systemd_timer_name }}.timer
  ansible.builtin.template:
    src: acme_letsencrypt.timer.j2
    dest: >-
      {{
        acme_sh_systemd_services_location
        | default(acme_sh_default_systemd_service_location, true)
        | default('/etc/systemd/system')
      }}/
      {{
        acme_sh_systemd_timer_name
        | default(acme_sh_default_systemd_timer_name, true)
        | default('acme_letsencrypt.timer')
      }}
    force: true
    owner: root
    group: root
    mode: '0644'
  become: true
  become_user: "{{ acme_sh_become_user }}"

- name: Systemd Daemon Reload
  ansible.builtin.systemd_service:
    daemon_reload: true
  become: true
  become_user: "{{ acme_sh_become_user }}"
