[Unit]
Description=“Renew Let's Encrypt certificates using acme.sh for %I”
After=network-online.target

[Service]
Type=oneshot
Environment=“HOME={{ acme_sh_git_clone_dest }}”
ExecStart=“{{ acme_sh_git_clone_dest }}”/acme.sh —debug 2 —home "{{ acme_sh_git_clone_dest }}" —renew  --dns dns_cf -d %i —log
SuccessExitStatus=0 2

